.movie {
  max-width:210px ;
  max-height:300px ;
  min-width: 210px;
  min-height: 300px;
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
  border: none;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.movie:hover {
  box-shadow: 0px 15px 18px -8px rgba(0, 0, 0, 0.037);
  transform: scale(1.05, 1.05);
}
.movie div:nth-of-type(1) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(1) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(2) {
  z-index: 2;
  background: #343739;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 20px 15px;
}

.movie div:nth-of-type(2) span {
  letter-spacing: 1px;
  color: #e50914;
  font-size: 13px;
}

.movie div:nth-of-type(2) h5 {
  margin: 0;
  color: #ffffff;
}

.movie:hover div:nth-of-type(1) {
  height: 100%;
  opacity: 0.3;
}
