.scroller {
  height: 400px;
}

.overflow-x-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  margin-left: 20px;
}

.scroll-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.scroll-buttons button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.scroll-buttons button:hover {
  background: #0056b3;
}

body.light-mode .navbar-dark {
  background-color: #ededed !important;
}

body.light-mode .bg-black {
  background-color: #ededed !important;
}

body.light-mode .text-light {
  color: #333333 !important;
}

body.light-mode .movie {
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1) !important;
}

body.light-mode .movie div:nth-of-type(2) {
  background: #ededed !important;
}

body.light-mode .movie div:nth-of-type(2) span {
  color: #c70000 !important;
}

body.light-mode .movie div:nth-of-type(2) h5 {
  color: #2d2926 !important;
}

body.light-mode .text-white {
  color: #2d2926 !important;
}

body.light-mode .btn-light {
  background-color: #ffffff !important;
}

body.light-mode .box-shadow {
  box-shadow: 0px 13px 10px -7px rgba(255, 255, 255, 0.2) !important;
}

body.light-mode .rgba-black {
  background-color: rgba(255, 255, 255, 1) !important;
}

body.light-mode .navbar-toggler-icon {
  filter: invert(100%) !important;
}

body {
  user-select: none;
  background-color: var(--background-color);
  color: var(--text-color);
}

:root[data-bs-theme="light"] {
  --background-color: #ffffff;
  --text-color: #000000;
}

:root[data-bs-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;
}

