.bannerdiv {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
  width: 100%;
  height: 500px;
}

h1 {
  color: #f8f9fa !important;
}

p {
  color: #f8f9fa !important;
}

.maximo {
  display: -webkit-box; /* Define um contêiner flexível em bloco */
  -webkit-line-clamp: 5; /* Limita o texto a  linhas */
  -webkit-box-orient: vertical; /* Define a orientação do box como vertical */
  overflow: hidden; /* Esconde o texto que ultrapassa o limite */
  max-width: 80%; /* Define a largura máxima do texto */
}